html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  height: 100vh;
}

.landing button {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.landing button {  
      background: none;
      color: #ccc;
      width: 240px;
      height: 80px;
      border: 1px solid #79d279;
      font-size: 18px;
      border-radius:4px;
      transition: .6s;
      overflow: hidden;
}
.landing button:focus {
  outline: none;
}
.landing button:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255,255,255,.5);
  width: 60px;
  height: 100%;
  left: 0;
  top:0;
  opacity: .5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

.landing button:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, .2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) skewX(-15deg);
}

.landing button:hover {
  background: #338033;
  cursor: pointer;
}

.landing button:hover:before {
  opacity: .6;
  transition: .7s;
  transform: translateX(300px) skewX(-15deg);
}

.landing button:hover:after {
  opacity: 1;
  transition: .7s;
  transform: translateX(300px) skewX(-15deg);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}