.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    
}

.createForm form  {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.5);
}

.createForm div {
  margin-bottom: 20px;
}

.danger {
    font-size: 8pt;
    color: red;
    text-shadow: 10px;
    margin: 0px;
}
